html {
    color: white;
}

body {
    font-family: "overpass", sans-serif;
    box-sizing: border-box;
    background-color: hsl(216, 12%, 8%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
}

main {
    display: flex;
    flex-direction: column;
    background-color: hsl(213, 19%, 18%);
    padding: 25px;
    width: 20%;
    border-radius: 15px;
}

.icono {
    background-color: hsla(217, 12%, 63%, 0.1);
    padding: 1px;
    width: 35px;
    height: 35px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 50%;
    margin-bottom: 0.5rem;
}

.texto {
    color: hsl(217, 12%, 63%);
    line-height: 2;
    margin-top: 1rem;
}

.h2 {
    font-weight: 700;
}

.rating {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.rating .rat {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    background-color: hsla(217, 12%, 63%, 0.1);
    border: none;
    padding: 0.5rem;
    border-radius: 50%;
    margin-bottom: 2rem;
    cursor: pointer;
}

.rat:hover{
    background-color:hsl(25, 97%, 53%); ;
}
.rat:active{
    background-color: white;
}
.rat.active{
     background-color: white;
}


.btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.btnSubmit {
    background-color: hsl(25, 97%, 53%);
    width: 100%;
    pad: 2rem;
    border-radius: 25px;
    height: 2.5rem;
    border: none;
    font-weight: 400;
    font-size: 15px;

}

.btnSubmit:hover {
    cursor: pointer;
    background-color: hsla(25, 97%, 53%, 0.8);
}
.btnSubmit:active{
    background-color: white;
}
.btnSubmit.active{
    background-color: white;
}
/*modals*/

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsl(216, 12%, 8%);
    display: none;
    justify-content: center;
    align-items: center;
}
.modals{
    background-color:hsl(213, 19%, 18%) ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-radius: 15px;
    width: 20%;
}
.iconoModals{
    margin: 2rem;
}
.seleccion{
    width: 80%;
    background-color: hsla(217, 12%, 63%, 0.1);
    border-radius: 25px;
    padding: 0.5rem;
    color:hsl(25, 97%, 53%) ;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}
.textP{
    color: hsl(217, 12%, 63%);
    width: 90%;
    text-align: center;
    line-height: 1.5;
}

@media(max-width:800px) {
    body {
        width: 100%;
        padding: 1rem;
    }

    main {
        width: 80%;
    }
    .modals{
        width: 80%;
    }
}